@font-face {
  font-family: "iconfont";
  /* Project id 3563764 */
  src: url("//at.alicdn.com/t/c/font_3563764_625uo5pzpa9.woff2?t=1659492740954") format("woff2"), url("//at.alicdn.com/t/c/font_3563764_625uo5pzpa9.woff?t=1659492740954") format("woff"), url("//at.alicdn.com/t/c/font_3563764_625uo5pzpa9.ttf?t=1659492740954") format("truetype"), url("//at.alicdn.com/t/c/font_3563764_625uo5pzpa9.svg?t=1659492740954#iconfont") format("svg");
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-gengduo:before {
  content: "\e603";
}
.icon-lishi:before {
  content: "\e604";
}
.icon-dianzan2:before {
  content: "\e605";
}
.icon-dianzan:before {
  content: "\e606";
}
.icon-shanchu:before {
  content: "\e607";
}
.icon-pinglun:before {
  content: "\e608";
}
.icon-fenxiang:before {
  content: "\e609";
}
.icon-guanbi:before {
  content: "\e60a";
}
.icon-shipin:before {
  content: "\e60b";
}
.icon-shouye:before {
  content: "\e60c";
}
.icon-shouji:before {
  content: "\e60d";
}
.icon-wuwangluo:before {
  content: "\e60e";
}
.icon-youjiantou:before {
  content: "\e60f";
}
.icon-yanzhengma:before {
  content: "\e610";
}
.icon-shoucang:before {
  content: "\e611";
}
.icon-sousuo:before {
  content: "\e612";
}
.icon-wode:before {
  content: "\e613";
}
.icon-zuojiantou:before {
  content: "\e614";
}
.icon-zuopin:before {
  content: "\e615";
}
.icon-yuedu:before {
  content: "\e616";
}
.icon-wenda:before {
  content: "\e617";
}
